:root {
  --off-white: #FAF9F6;
  --dark-gray: #222222;
  --light-gray: #3b3b3b;
  --sky-blue: #73C2FB;
  --light-trim: #FF5F1F;

  font-family: "Ubuntu", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 500px;
  min-height: 100vh;

  color: var(--light-trim);
  background-color: var(--off-white);
}

body.dark {
  color: var(--sky-blue);
  background-color: var(--dark-gray);
}

h1 {
  font-family: "Rowdies", system-ui, sans-serif;
}